*{margin: 0; padding: 0; box-sizing: border-box}
input:focus, button:focus{ outline: 0}

body {
    font-family: "Comic Sans MS";
}

h2 {
    font-size: 23px;
    padding: 10px 20px;
    color: #fff;
    background-color: #0085ad ;
}

#chat-wrap {
    max-width:600px;
    margin: 30px auto;
    border: 1px solid#ccc;
    border-radius: 5px;
}

#chat-window {
    height: 400px;
    overflow-y: auto;
    background-color: white;
}

#output p{
    font-size: 13px;
    padding: 12px;
}

#output p:nth-child(even){
    background-color: lemonchiffon;
}

#feedback p{
    font-size: 13px;
    padding: 12px;
}

input {
    font-family: "Comic Sans MS";
    padding: 10px 20px;
    border: 0;
    border-top: 1px solid#ccc;
    display: block;
    width: 100%;
    font-size: 15px;
}

button {
    font-family: "Comic Sans MS";
    background-color: crimson;
    color: white;
    border: 0;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    padding: 12px 0;
    font-size: 17px;
}